<link rel="stylesheet" href="{{staticPath}}css/styles.css">

<div class="meme" style="background: url({{imageUrl}})">
  <h1 class="meme__text">{{name}}</h1>
  <p>Image url: <a href={{imageUrl}}>{{imageUrl}}</a></p>
</div>
